includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
    excludePaths:
        - src/Prism
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
